extends layout

block content
  div.span8
    h1= title
    != body
  div.span4
    h3 About the Article
    div.well
      each val, key in meta
        p
          #{key}: #{val}
      p Permalink to this article: #{settings.url}/blog/#{meta.date}/#{meta.slug}
    p
      a(href='/').btn Back to Article list